---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        <span class="pill">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {{ page.date | date: site.date_format }}
            </time>
        </span>
        <h1 itemprop="name headline">{{ page.title | escape }}</h1>
        {%- if page.subtitle -%}
            <p class="subtitle"><i>{{ page.subtitle }}</i></p>
        {%- endif -%}
    </header>
    <div itemprop="articleBody">
        {{ content }}
    </div>
    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>